/* .App {
  text-align: center;
  background-color:#292929;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */


.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  color: #FFFFFF !important;
}

.MuiPopover-paper {
  background: #3D3D3D !important;
  color: #FFFFFF !important;
  border-radius: 8px !important;
}

.MuiDialog-paperScrollPaper {
  background: #3A3A3A !important;
  color: #FFFFFF !important;
}

.PrivateTabIndicator-vertical-337 {
  background-color: #1A1A1A !important;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: #FFFFFF !important;
}

.PrivateTabIndicator-vertical-540 {
  background-color: #1A1A1A !important;
}

.css-145v6pe-MuiButtonBase-root-MuiTabScrollButton-root {
  width: 24px !important;
}

.MuiBox-root {
  padding: 0;
}
.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
  color: #FFFFFF !important;
}

/* .MuiInputBase-input {
  text-align: center !important;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  opacity: 0.2;
  background: "#3D3D3D";
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: "#292929";
}
